tools/WatsonIoT_NodeRed_ISSDKDemo.json
[{"id":"7056e143.a0e3d","type":"ibmiot in","z":"436fdedf.6d076","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"F61209F5CED2","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"FRDM Board RecvData","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":140,"y":200,"wires":[["a9631cde.d4d4a","9d60c45b.cc20c8","51db53a9.4f886c"]]},{"id":"a9631cde.d4d4a","type":"function","z":"436fdedf.6d076","name":"ReadSensorData","func":"return {payload:msg.payload.d};","outputs":"1","noerr":0,"x":428.9657440185547,"y":304.05303955078125,"wires":[["c8e06312.6494f"]]},{"id":"9d60c45b.cc20c8","type":"debug","z":"436fdedf.6d076","name":"Display FRDM BoardData","active":true,"console":"false","complete":"payload.d.Data","x":443.32554626464844,"y":195.66653442382812,"wires":[]},{"id":"3d9a06f7.a5978a","type":"cloudant out","z":"436fdedf.6d076","name":"SensorDataCloudStorage","cloudant":"","database":"iotsdadb","service":"ISSDKCloudDemo-cloudantNoSQLDB","payonly":true,"operation":"insert","x":720.3867340087891,"y":372.09002685546875,"wires":[]},{"id":"51db53a9.4f886c","type":"function","z":"436fdedf.6d076","name":"MsgCount","func":"var count = global.get('msgCounter') || 0;\n\ncount += 1;\nglobal.set('msgCounter',count);\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":403.46730041503906,"y":248.80572509765625,"wires":[["ed4db2cb.53b7"]]},{"id":"ed4db2cb.53b7","type":"debug","z":"436fdedf.6d076","name":"FRDM BoardMsgCounter","active":true,"console":"false","complete":"count","x":670,"y":240,"wires":[]},{"id":"ef63dd1e.9767c","type":"websocket in","z":"436fdedf.6d076","name":"WebClient RecvCmd","server":"606470ca.802cf","client":"","x":126.20652961730957,"y":94.03413915634155,"wires":[["ac99f921.9bb538"]]},{"id":"46089b74.583254","type":"debug","z":"436fdedf.6d076","name":"Display WebClient Command","active":true,"console":"false","complete":"payload","x":630,"y":80,"wires":[]},{"id":"c8e06312.6494f","type":"websocket out","z":"436fdedf.6d076","name":"SendSensorDataToClient","server":"606470ca.802cf","client":"","x":718.8584136962891,"y":303.79095458984375,"wires":[]},{"id":"f66c38e5.141c38","type":"ibmiot out","z":"436fdedf.6d076","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"080027649fd8","deviceType":"iotqs-sensor","eventCommandType":"ApplicationControl","format":"json","data":"Event","name":"IBM IoTF Device SendCmd","service":"","x":620,"y":120,"wires":[]},{"id":"6967fb6e.937f04","type":"inject","z":"436fdedf.6d076","name":"ClearCounter","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":130,"y":360,"wires":[["f3c10105.6aee4"]]},{"id":"f3c10105.6aee4","type":"function","z":"436fdedf.6d076","name":"ClearSampleCounter","func":"global.set('msgCounter',0);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[[]]},{"id":"ac99f921.9bb538","type":"function","z":"436fdedf.6d076","name":"SkipKeepAlives","func":"if (JSON.parse(msg.payload) === \"KEEPALIVE\")\n{\n   return null;\n} else {\n   return msg;\n}","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["46089b74.583254","f66c38e5.141c38"]]},{"id":"606470ca.802cf","type":"websocket-listener","z":"","path":"/ws/sdademoserver","wholemsg":"false"}]